.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid;
}

.infoBox--isRed {
  border-color: red;
}

.infoBox--isGreen {
  border-color: greenyellow;
}

.infoBox--isBlue {
  border-color: #87cefa;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__cases--blue {
  color: #87cefa !important;
}

.infoBox__total {
  color: #6c757d !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

@media only screen and (max-width: 500px) {
  .app__firstSectionStats {
    flex-direction: column;
  }

  .app__firstSectionStats div:not(:last-child) {
    margin-bottom: 10px;
  }
}
