.safetyTips__contentList {
  margin: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.safetyTips__contentList:hover {
  background-color: yellow;
  transition: background-color 1.5s;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition-delay: 0.1s;
}

.safetyTips__contentListItems {
  width: 100%;
  /* border: 1px solid red; */
}

.safetyTips__contentListItems div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.safetyTips__contentListItems img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.safetyTips__contentListItemsDesc {
  margin: 0 10px 0 0;
  padding: 0 0 20px 0;
  width: 80%;
}
